body {
    background-color: #f1f1f1;
    color: #333;
}

.login {
    width: 380px;
    padding: 100px 10px;
    margin: auto;
}

.alert {
    margin: 0;
    padding: 0 10px;
}

.card {
    box-shadow: 0 0 10px #CCC;
    border-radius: 0;
    margin: 30px 0;

    .card-header {
        border-bottom: 1px solid #CCC;
    }
}

.form-control, .btn {
    border-radius: 0;
}

.form-control[readonly] {
    background: #f1f1f1;
}

.parsley-errors-list {
    color: #F00;
    list-style: none;
    margin-left: -30px;
}

#erro {
    margin-top: -15px;
}

.footer, .navbar {
    background: #FFF;
    padding: 10px 0 10px;
    box-shadow: 0 0 10px #ccc;
}

a.btn-dark:hover {
        background-color: #263055;
        color: #fff;
        transition: background-color 0.3s ease;
    }

button[type="submit"]:hover {
        background-color: #263055;
        transition: background-color 0.3s ease;
}
a.btn-danger:hover {
        background-color: #ffffffff;
        color: #ff1c1cff;
        transition: background-color 0.3s ease;
}